/* .MuiDialog-container .MuiDialog-paper{
   margin-top: 500px !important;
}
.MuiDialog-container .MuiDialog-paper{
  overflow: visible !important;
}

/* .MuiDialog-container .MuiPaper-rounded{
  border-radius: 25px !important;
}  */ 



.btnSetting {
  border: none !important; 
  outline: none !important;
  padding: 10px !important;
  background: white !important; 
  border-radius: 12px !important; 
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1) !important;
  cursor: pointer !important;
  height: 35px !important;
  font-size: 12px !important;
  margin: 0 1% !important;
  display: flex !important;
}
.btnSetting:hover{
  background: #03EA6A !important;
    color: #fff !important;
}
.btnSetting .text {
  text-align: center !important;
  font-size: 11px !important;
  font-weight: 600 !important;
  font-family: 'Poppins' !important;
  margin-left: 5px !important;
}

.dialogBoxSeting {
  margin-top: 7.5% !important;
  margin-left: 63.5% !important;
  height: 90vh !important;
}
.title {
    font-size: 21px !important;
    font-weight: 800 !important;
    padding: 20px !important;
    margin-left: 20px !important;
    font-family: 'Poppins' !important;
}
.imgSetting {
  height: 17px !important;
}
.cone {
  width: 0px !important;
  height: 0px !important;
  border-bottom: 20px solid #fff !important;
  border-right: 20px solid transparent !important;
  border-left: 20px solid transparent !important;
  margin-top: 20px !important;
  margin-left: 50% !important;
}
.buttonBoth {
  margin-top: -75px !important;
  margin-left: 44.5% !important;
  display: flex !important;
}

.btnFirst {
  border: none !important; 
  outline: none !important;
  padding: 10px !important;
  background: white !important; 
  border-radius: 12px !important; 
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1) !important;
  cursor: pointer !important;
  height: 40px !important;
  font-size: 12px !important;
  width: 100px !important;
}
.btnFirst:hover{
  background: #03EA6A !important;
    color: #fff !important;
}

.btnSecond {
  color: red   !important;
  background-color: #fff   !important;
  margin-left: 15px   !important;
  padding: 10px   !important;
  height: 35px   !important;
  border-radius: 12px   !important;
  margin-top: 0   !important;
  border: none   !important;
  outline: none   !important;
  font-size: 11px   !important;
  cursor: pointer  !important;
}
.btnSecond .textRed{
  font-size: 11px   !important;
}

@media(max-width: 1441px){
  /* .dialogBoxSeting{
    margin-top: -48px !important;
  } */
  .buttonBoth{
    margin-left: 57% !important;
  }
  .cone{
    margin-left: 63.5% !important;
  }
}

@media(max-width:1025px){
  .dialogBoxSeting{
    margin-top: 53px  !important;
    margin-left: 51%  !important;
  }
  .buttonBoth{
    margin-left: 56.5%  !important;
  }
  .cone{
    margin-left: 63%  !important;
  }
}

@media (max-width: 769px){
  .textRed{
    display: none  !important;
    border-radius: 50%  !important;
  }
  .dialogBoxSeting{
    margin-right: 127px  !important;
    margin-top: 47px  !important;
  }
  .cone{
    margin-left: 81%  !important;
  }
  .buttonBoth{
    margin-left: 81.5%  !important;
    margin-top: -71px  !important;
  }
}

@media (max-width:426px){
  .dialogBoxSeting{
    margin-left: 30%  !important;
    max-width: 90%  !important;
  }
  .buttonBoth{
    margin-left: 75.8%  !important;
  }
  .cone{
    margin-left: 75.5%  !important;
  }
}

@media(max-width: 376px){
  .buttonBoth{
    margin-left: 72%  !important;
  }
  .cone{
    margin-left: 72%  !important;
  }
}

@media(max-width: 321px){
  .dialogBoxSeting{
    margin-left: 50%  !important;
    min-width: 0%  !important;
    max-width: 10%  !important;
  }
  .buttonBoth{
    margin-left: 62%  !important;
  }
  .cone{
    margin-left: 62%  !important;
  }
}